<div class="fullscreen-bg">
    <video autoplay loop class="fullscreen-bg_video" src="assets/Fuego_de_Refineria.mp4" allowfullscreen></video>
</div>
<div class="container">
    <div class="overlay-title row">
        <div class="title logo-text col-lg-12"><span class="fire">PROTOTHOUGHT</span></div>
        <div class="col-lg-12"><h1>All it takes, is a spark...</h1></div>
        <div class="col-lg-12">
          <button class="button cliftondale">CLIFTONDALE</button>
          </div>
    </div>
</div>
