<div class="container">
  <div class="row">
      <div class="title-image">
          <img src="assets/blackboard.jpg"/>
        </div>
  </div>
  <div class="row intro">
    <div class="header">
    <h1>Career Day Gift Of Appreciation</h1>
    </div>
    <div>
        Back in March, I visited Cliftondale Elementary for career day and was able to share a little bit of information about software development. Some of you showed a special interest in the game development aspect of software.
        <br>
        It just so happens that I share the same interest and a game is currently under way.
        <br>
        I have a strong belief in the potential of games as teaching tools. We play them anyway, why not learn something useful? :)
        <br>
        All of you, intelligent rising 6th graders, are scattering to the wind and starting on a brand new adventure into middle school. It's for this reason that I am passing out codes which you'll be able to exchange for a FREE copy of the game when it's released on Steam.
        <br>
        Development should be finished by SPRING 2019 - so get ready to learn practical physics, astronomy, wayfinding, and African culture!
        <br>And remember, you can code too...you just have to start...
        <br><br><em>
        Sincerely,
        Valincia's Mom</em>
        <br><br>
        <small>Check back here or follow @proto_thought for updates.</small>
      </div>

  </div>
</div>