/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';




/* font-family: 'VT323', monospace;
font-family: 'Cabin Sketch', cursive;
font-family: 'Mina', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Orbitron', sans-serif; */